# binaries and temporaries
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hsenv

# stack
.stack-work/

# cabal
.cabal-sandbox/
cabal.sandbox.config
cabal.config
dist
cabal-dev

# profiling things
*.prof
*.aux
*.hp
.hpc


/.dist-buildwrapper/
